<div class="container text-center success">
  <button type="button" name="button"><a href="/">Back to home</a></button>
  <div>
    <h2>You are now the proud owner of <%= name %>!</h2>
      <h4>Please click the link below to download the file!</h4>
      <button type="button" name="button"><a href="./dist/image.jpg"  download>Download <%= name %></a></button>

  </div>
</div>
